[submodule "I3ean/vendor/spdlog"]
	path = I3ean/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "I3ean/vendor/GLFW"]
	path = I3ean/vendor/GLFW
	url = https://github.com/TheCherno/glfw
